<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_LEPVevjK2Nw48m-N3x6XQxUzs80Tpe8</string>
	<key>GCM_SENDER_ID</key>
	<string>923654871925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaal.construction</string>
	<key>PROJECT_ID</key>
	<string>construction-bard</string>
	<key>STORAGE_BUCKET</key>
	<string>construction-bard.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923654871925:ios:9d159d382ba1e4f019d13c</string>
</dict>
</plist>